$swatch_1: #dfdede;
$swatch_2: #bdbec0;
$swatch_3: #060709;
$swatch_4: #363e3c;
$swatch_5: #5d5f63;
$app_selector_background: #fafaf6;
$app_selector_color: #00d1ff;
$taskbar-height : 6rem;
$taskbar-bottom-gutter : 5px;